.item {
  display: inline-block;
  border: 6px double #ff9e02;
  padding: 10px;
  margin-bottom: 10px;
  background: rgb(23, 12, 114);
  font-family: "Courier";
  margin: 100px;
  color: antiquewhite;
  border-radius: 10px;
  width: 300px;
}

body {
  background-color: rgb(26, 25, 25);
  border: 6px double #ff9e02; 
  margin: 60px;
  border-radius: 10px;
  
}

#header {
  
}

h1{
  color: antiquewhite;
  font-family: "Pirata One";
  text-align: center;
  
}

#card{
  width: 200px;
}